<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SolarTrackers.Properties.Settings.SorlyConnectionString"
      connectionString="Data Source=DESKTOP-CK12Q8S;Initial Catalog=Sorly;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="rememberMe" value=""/>
    <add key="userName" value=""/>
    <add key="passWord" value=""/>
    <add key="MacName" value=""/>
    <add key="NewTime" value=""/>
    <add key="UpTime" value=""/>
    <add key="Newdata" value=""/>
    <add key="Updata" value=""/>
  </appSettings>
</configuration>
